@charset "utf-8";
/* CSS Document */
h2{margin-bottom:0.5em;font-size:2em;text-align:center;}
.article{
width:90%;
margin:0 auto 1%;
word-break:normal;
word-wrap:break-word;
}
.article-list{
line-height:3em;
}
.article-info{
text-align:center;
}
h3{
display:inline;
font-size:1.6em;
}
.article-content{
padding:10px 0;
font-size:1.2em;
line-height:1.5em;
}