@charset "utf-8";
/* CSS Document */
h2{font-size:2em;text-align:center;}
.article{
width:90%;
margin:0 auto 1%;
word-break:normal;
word-wrap:break-word;
}
.article-list{
line-height:2em;
font-size:1.2em;
}